<p id="notice"><%= notice %></p>

<h1 id='topic-name'>
  <%= @topic.name.capitalize %>
</h1>


<div id="feed-container">

  <div id="feed">
    <p class="message">
      <span class='welcome-message-text'>
        Welcome to the <%= @topic.name.capitalize %> Room!
      </span>
    </p>
  </div>

  <div id="user-color-container">
    <div id="user-color-block"></div>
    <button id="change-user-color-button">Change Color</button>
  </div>

  <div id="message-input-container">
    <input type='text' id='message-input'>
    <button id="send-message-button">Send</button>
  </div>

</div>


<%= hidden_field_tag 'topic-id', @topic.id %>
<%= hidden_field_tag 'current-user', @current_user.to_json %>
